<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si el archivo o carpeta existe físicamente (como imágenes o archivos JS), muéstralo
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # EXCEPCIÓN MUY IMPORTANTE: Ignorar la carpeta /api/ para que tu backend en PHP siga funcionando
  RewriteCond %{REQUEST_URI} !^/api/
  
  # Si no es un archivo físico ni es la API, envía la petición al index.html de React
  RewriteRule . /index.html [L]
</IfModule>